
mat-form-field {
  margin: 0 8px;
}

.header-image {
  background-image: url('../../../../assets/entity.jpeg');
  background-size: cover;
}

mat-card-header {
  margin-bottom: 12px;
}

.invalid {
  color: red;
}
